<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DummyInstaller" Language="1033" Version="1.0.0.0" Manufacturer="BeyondTrust Corporation" UpgradeCode="b3565c3a-f8dd-412a-bfff-a8e697ecc1c2">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="DummyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DummyInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="$(var.DummyService.TargetFileName)" Guid="3962817c-dd58-4639-a488-b08de58914e8">
        <File Id="$(var.DummyService.TargetFileName)" Source="$(var.DummyService.TargetPath)" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
